.board{
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.board__header{
  display: flex;
  align-items: center;
}

.board__stack{
  position: relative;
  display: inline-block;
  padding: 1em;
}

.board__deck{
  position: relative;
  margin: 0;
  padding: 0;
}

.board__deck--big{
  font-size: 7em;
}

.board__deck:before{
  content: '🎴';
  position: absolute;
  top: 4px;
  left: 4px;
}

.board__deck:after{
  content: '🎴';
  position: absolute;
  top: 8px;
  left: 8px;
}

.board__left{
  position: absolute;
  top: 4px;
  right: 4px;
}

.board__turn{
  font-size: 2em;
}

.board__event{
  flex: 1;
  display: flex;
}

.event__draw,
.event__auction,
.event__lie{
  padding: 0 1em;
  width: 100%;
}

.draw__animal{
  font-size: 7em;
}

.auction__lie{
  width: 100%;
  text-align: center;
}

.auction__liar{
  font-size: 3em;
}

.auction__lieMoney{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.auction__lieMoney_item{
  border: 1px solid #CCC;
  padding: 1em;
}

.cowTrade__initiator,
.cowTrade__challenged,
.cowTrade__money{
  font-weight: bold;
  font-size: 2em;
}

.cowTrade__animal{
  font-size: 4em;
}

.players{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
}

.players__item{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animals{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.animals__item{
  cursor: pointer;
  position: relative;
  padding: 1em;
}

.animal__label{
  font-size: 3em;
}

.animal__count{
  position: absolute;
  top: 4px;
  right: 4px;
}
