.board{
  height: 100%;
  padding: 1em;
}

.board__header{
  display: flex;
  align-items: center;
}

.board__stack{
  position: relative;
  display: inline-block;
  padding: 1em;
}

.board__deck{
  position: relative;
  margin: 0;
  padding: 0;
}

.board__deck--big{
  font-size: 7em;
}

.board__deck:before{
  content: '🎴';
  position: absolute;
  top: 4px;
  left: 4px;
}

.board__deck:after{
  content: '🎴';
  position: absolute;
  top: 8px;
  left: 8px;
}

.board__left{
  position: absolute;
  top: 4px;
  right: 4px;
}

.board__turn{
  font-size: 2em;
}
