.remote{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.remote__id{
  display: inline-block;
  border: 1px solid #CCC;
  padding: 1em;
  letter-spacing: 2px;
}

.remote__error{}
