.control__id{
  position: sticky;
  top: 0;
  border-bottom: 1px solid #CCC;
  margin: 0;
  padding: 1em;
  background: #FFF;
}

.control__money{
  list-style: none;
  padding: 0;
  margin: 0;
}

.control__button{
  border:1px solid #CCC;
  padding: 2em;
  background: #FFF;
}

.control__button:hover,
.control__button:active{
  border:1px solid #333;
}

.control__tel{
  padding: 1em;
}
