.control__id{
  position: sticky;
  top: 0;
  border-bottom: 1px solid #CCC;
  margin: 0;
  padding: 1em;
  background: #FFF;
}

.control__money{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #CCC;
}

.control__money__item{
  border: 1px solid #5d9a65;
  padding: 1em;
  margin: 0.5em;
}

.control__button{
  border:1px solid #CCC;
  padding: 2em;
  background: #FFF;
  display: block;
  margin: 0.5em auto;
}

.control__button:hover,
.control__button:active{
  border:1px solid #333;
}

.control__tel{
  padding: 1em;
}


.cowTrade__money ul,
.cowTrade__players,
.cowTrade__player,
.cowTradeRespond__money ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.cowTrade__money_item,
.cowTrade__players_item,
.cowTrade__player_item,
.cowTradeRespond__money_item{
  border: 1px solid #CCC;
  padding: 1em;
  margin: 0.5em;
}

